
<!DOCTYPE html>
<html lang="en">

<head>
  <title> USMNT 2018 </title>
  <link rel="stylesheet" type="text/css" href="style.css"
</head>

<body>
  <img src="BrooksGreenYedlin.jpg">
  <div>
    <h1 class='text'> USA!! USA!! </h1>
    <p class='text'>
    Most recent Goal:
    </p>
    <p class='text'>
      <%= @change_goals.call_message %>
      This happened at
      <%= @change_goals.call_time %>
      <a href src='http://www.timeanddate.com/worldclock/converter.html'> Time Zone Converter </a>
    </p>
  </div>
  
</body>

