
<!DOCTYPE html>
<html lang="en">

<head>
  <title> USMNT 2018 </title>
  <link rel="stylesheet" type="text/css" href="../public/style.css"
</head>

<body>
  <h1> USA!! USA!! </h1>
  <p>
    Most recent Goal:
  </p>
  <p>
    <%= @change_goals.call_message %>
    This happened at
    <%= @change_goals.call_time %>
  </p>
  <img src="BrooksGreenYedlin.jpg">
</body>

