

h1 {
  font-size: 100px;
  color: white;
}

h1:hover {
  font-size: 105px;
}

#intro {
  font-size: 40px;
}

p {
  color: white;
}

li {
  font-size: 30px;
  color: white;
}

body {
  background-image: url('images/USA-Squad.jpg');
  background-size: 1250px;
}

div {
  border: dotted;
  border-width: 10px;
  border-color: red;
}

div:hover {
  background-color: black;
}


img {
  float: right;
  height: 390px;
  width: auto;
  border: solid;
  border-width: 10px;
  opacity: .4;
}

img:hover {
  opacity: 1.0;
}

a {
  color: blue;
}

